<div class="row" style="margin-left:150px; margin-right:150px;">
  <div class="col-md-4 col-sm-12 debonair">
    <div class="card" >
        <div class="abs">
          <img src="http://localhost/theme/university/images/1.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=2">Leadership and Management</a> </h2>
      <p id="ab">Courses aimed to help develop a leadership ethos and equip leaders and managers with the skills to
        be able to meet the...
        <a class="btn btn-primary" href="http://localhost/course/index.php?categoryid=2">Read More</a>
      </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="http://localhost/theme/university/images/2.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=6">Equality</a></h2>
      <p id="ab1">A selection of courses aimed to build the knowledge of all employees over a range of
        characteristics...
        <a class="btn btn-default" href="http://localhost/course/index.php?categoryid=6">Read More</a>
      </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="http://localhost/theme/university/images/3.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=3">Job Skills</a></h2>
      <p id="ab2">Build your knowledge and competency in the
        workplace with Job Skills training.
        These courses feature an emphasis on practical
        skills to...
        <a class="btn btn-primary" href="http://localhost/course/index.php?categoryid=3">Read More</a>
      </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="http://localhost/theme/university/images/4.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=4">Induction</a></h2>
      <p id="ab3">The University is committed to ensuring all new staff are provided with the appropriate and
        relevant information they need to... <a class="btn btn-primary" href="http://localhost/course/index.php?categoryid=4">Read More</a>
      </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="http://localhost/theme/university/images/4.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=5">Future of Work</a></h2>
      <p id="ab4">A range of modules to support all staff to  adapt and thrive to a new way of working.
        Allowing for greater flexibility but no drop in...
        <a class="btn btn-primary" href="http://localhost/course/index.php?categoryid=5">Read More</a>
      </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="http://localhost/theme/university/images/4.jpeg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="http://localhost/course/index.php?categoryid=7">Personal Effectiveness</a></h2>
      <p id="ab5">This section includes a group of courses designed to provide skills to improve an individual’s
        personal effectiveness...
        <a class="btn btn-primary" href="http://localhost/course/index.php?categoryid=7">Read More</a>
      </p>
      </div>
    </div>
  </div>
</div>
