<p dir="ltr" style="text-align: left;"><br></p>

<hr>
<div class="row" style="margin-left:-40px; margin-right: -40px;">
  <div class="col-md-6 colsm-12">
    <img src="http://localhost/theme/university/images/ab.jpeg" alt="" style="width:100%; margin-left: 15px;">
  </div>
  <div class="col-md-6 col-sm-12">
    <img src="http://localhost/theme/university/images/aa.jpeg" alt="" style="width:100%; height: 320px; margin-left: -15px;">
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6">
        <figure class="col-md-12 col-sm-12" itemprop="associatedMedia" itemscope="">
            <iframe src="https://www.youtube.com/embed/XYZ123" allowfullscreen="" width="100%" height="315" frameborder="0"></iframe>
            <div class="caption">
            </div>
        </figure>
    </div>
    <div class="col-md-6">
        <p style="text-align:justify; padding-right:20px;">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
          took a galley of type and tronic typesetting, sheets taining Lorem Ipsum passages.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and tronic typesetting,
            sheets taining Lorem Ipsum passages
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and tronic typesetting,
            sheets taining Lorem Ipsum passages
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and tronic typesetting,
            sheets taining Lorem Ipsum passages.</p>
    </div>
</div> -->
<hr>
